# Maven
target/
*.log

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# Eclipse / STS
.classpath
.project
.settings/
.springBeans
.sts4-cache/

# OS
.DS_Store
Thumbs.db

# Environment variables / secrets
.env
*.env

# Java
*.class

# Logs
logs/
